body { line-height: 160%; }
h1 { font-size: 64pt; letter-spacing: 1em; margin: 30px 0 50px -20px;
     color: silver; font-weight: normal; }
h2, h3 { font-weight: normal; margin-top: 2em; }
h3 { font-family: sans-serif; }
dl dt { font-family: sans-serif; font-weight: bolder; letter-spacing: -1px; }
dl dd { margin-top: -2.2em; margin-left: 7em; }
a { text-decoration: none; border-bottom: 1px solid silver; color: darkblue; }
.formats { font-size: small; }
.formats * { display: inline; }
.formats ul { padding: 0; margin: 0; }
